/* About Page Container */
.about-page-container {
  background-color: #eff3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 100vh; 
  overflow-y: auto;
  background-size: 200% 200%;
  border-left: 1px solid transparent;
  position: relative;
  z-index: 1;
  justify-content: center;
  gap: 30px;
}


/* Cards (About and Contact) */
.about-card, 
.contact-card {
  width: 100%;
  max-width: 700px;
  background: #CAF0F8;
  box-shadow: 4px 12px 20px rgba(3, 4, 94, 0.5);
  padding: 30px;
  border-radius: 20px;
}
.about-card h1,
.contact-card h2 {
  margin-bottom: 20px;
  color: #023e8a;
  text-align: center;

}

/* Form Styling */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background-color: #0077b6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #005f99;
}

/* Responsive */
@media (max-width: 768px) {
  .about-page-container {
    padding: 20px;
    height: auto;
  }

  .about-card, 
  .contact-card {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .about-page-container {
    padding: 15px 5px;
    background-size: 300% 300%;
    backdrop-filter: blur(20px);
  }

  .about-card, 
  .contact-card {
    padding: 15px;
  }
}

.justified-text-about {
  text-align: justify;
  margin: 20px;
  font-size: 12px;
}

.justified-text-contact {
  text-align: justify;
  margin: 20px;
  font-size: 15px;
}