.datacomp-container {
    display: flex;
    margin: 0%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(135deg, rgb(78, 130, 235), rgba(17, 82, 143, 0.884), rgb(255, 242, 61)); /* DepEd Colors: Blue, Yellow, Green */
    background-size: 200% 200%; /* Ensure that the gradient is large enough to move */
    animation: gradientAnimation 6s ease infinite; /* Apply animation */
    backdrop-filter: blur(100px); /* Glassy effect */
    border-left: 1px solid transparent;  /* Ensure left side remains squared */
    position: relative;
    z-index: 1;
  }
  
  /* Keyframes for moving gradient */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Search Bar Styling */
  .search-input {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    border-radius: 30px;
    border: 2px solid #0066b3; 
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333;
    width: 250px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-left: 20px; 
  }
  
  .search-input:focus {
    outline: none;
    border-color: #004080; 
  }