/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #fa5858, #385bbb, #ff5656);
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
  animation: fadeSlideIn 1s ease;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar-header h2 {
  font-size: 22px;
  color: #ffffff;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.sidebar-header img.deped-logo {
  width: 150px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.sidebar-header img.deped-logo:hover {
  transform: scale(1.05);
}

/* Sidebar List */
.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list li {
  margin: 18px 0;
}

/* Sidebar Links */
.sidebar-list li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
}

.sidebar-list li a svg {
  margin-right: 12px;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar-list li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(5px);
  color: #1e3c72;
  font-weight: 500;
}

.sidebar-list li a:hover svg {
  transform: scale(1.2);
  color: #1e3c72;
}

.sidebar-list li a.active {
  background-color: #ffffff;
  color: #1e3c72;
  font-weight: bold;
  font-size: 18px;
  transform: translateX(5px);
}

.sidebar-list li a.active svg {
  color: #1e3c72;
  transform: scale(1.2);
}